<!DOCTYPE html>
<html>
<head>
    <title>Text Cleaning App</title>
</head>
<body>
    <h1>Welcome to the Text Cleaning App</h1>
    <h2>Please select an option:</h2>
    <form action="#" method="post">
        <input type="radio" id="inputText" name="inputText" value="1" required>
        <label for="inputText">1 - Input Text</label><br>
        <input type="radio" id="inputFile" name="inputText" value="2">
        <label for="inputFile">2 - Input File</label><br>
        <input type="radio" id="readDatabase" name="inputText" value="3">
        <label for="readDatabase">3 - Read Database</label><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>


